In [1]:
## required imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
## read data
df = pd.read_csv('Data/Twitter_5_year.csv')

In [3]:
# Shape
df.shape

(299998, 15)

In [4]:
# Head
df.head()

,Account,User Name,Followers at Posting,Created,Type,Likes,Retweets,URL,Message,Screen Name,Link 1,Final Link 1,Link 2,Final Link 2,Score
0,juicy j,therealjuicyj,2645413.0,2019-06-13 23:49:25 EDT,Tweet,864,190,https://twitter.com/therealjuicyj/status/11393...,Whomever made bets made good money tonight,NaN,NaN,NaN,NaN,NaN,-3.59
1,Luke Combs üé§,lukecombs,336828.0,2019-06-13 23:18:23 EDT,Tweet,3859,102,https://twitter.com/lukecombs/status/113937147...,.@nicohocking is bae,NaN,NaN,NaN,NaN,NaN,1.14
2,ADAM LAMBERT,adamlambert,2477885.0,2019-06-13 23:03:07 EDT,Link,832,343,https://twitter.com/adamlambert/status/1139367...,Korea! Tickets are on sale NOW for Queen + Ada...,NaN,http://ticket.yes24.com!,http://ticket.yes24.com!,https://t.co/CKCDd7BAK5,https://twitter.com/adamlambert/status/1139367...,-1.33
3,Russ,russdiemon,2043124.0,2019-06-13 22:56:16 EDT,Tweet,986,31,https://twitter.com/russdiemon/status/11393659...,What questions y‚Äôall want @KidSuper to ask me?...,NaN,NaN,NaN,NaN,NaN,-9.22
4,Gerardo Ortiz,gerardoortiznet,3082321.0,2019-06-13 22:43:58 EDT,Photo,727,76,https://twitter.com/gerardoortiznet/status/113...,üöòüòéüòú https://t.co/4yeXAIbwA7,NaN,https://t.co/4yeXAIbwA7,https://twitter.com/gerardoortiznet/status/113...,NaN,NaN,1.89

In [5]:
# Print columns
df.columns

Index(['Account', 'User Name', 'Followers at Posting', 'Created', 'Type',
       'Likes', 'Retweets', 'URL', 'Message', 'Screen Name', 'Link 1',
       'Final Link 1', 'Link 2', 'Final Link 2', 'Score'],
      dtype='object')

In [6]:
df.nunique()

Account                    128
User Name                  128
Followers at Posting     86577
Created                 298457
Type                         6
Likes                    24456
Retweets                 13291
URL                     299998
Message                 295701
Screen Name                142
Link 1                  225630
Final Link 1            223468
Link 2                   32123
Final Link 2             31749
Score                     6753
dtype: int64

In [7]:
df['Type'].value_counts()

Link            146122
Photo            61678
Tweet            56976
Native Video     24707
Video            10486
Vine                29
Name: Type, dtype: int64

In [8]:
df.count()

Account                 299998
User Name               299998
Followers at Posting    290677
Created                 299998
Type                    299998
Likes                   299998
Retweets                299998
URL                     299998
Message                 299998
Screen Name             294460
Link 1                  243040
Final Link 1            243040
Link 2                   39680
Final Link 2             39680
Score                   299998
dtype: int64

In [9]:
sum(df['Followers at Posting'].isna())

9321

In [10]:
df_selected_columns = df[['User Name', 'Followers at Posting', 'Created', 'Type',
       'Likes', 'Retweets','Message']]
df_selected_columns.head()

,User Name,Followers at Posting,Created,Type,Likes,Retweets,Message
0,therealjuicyj,2645413.0,2019-06-13 23:49:25 EDT,Tweet,864,190,Whomever made bets made good money tonight
1,lukecombs,336828.0,2019-06-13 23:18:23 EDT,Tweet,3859,102,.@nicohocking is bae
2,adamlambert,2477885.0,2019-06-13 23:03:07 EDT,Link,832,343,Korea! Tickets are on sale NOW for Queen + Ada...
3,russdiemon,2043124.0,2019-06-13 22:56:16 EDT,Tweet,986,31,What questions y‚Äôall want @KidSuper to ask me?...
4,gerardoortiznet,3082321.0,2019-06-13 22:43:58 EDT,Photo,727,76,üöòüòéüòú https://t.co/4yeXAIbwA7

In [11]:
df_selected_columns.count()

User Name               299998
Followers at Posting    290677
Created                 299998
Type                    299998
Likes                   299998
Retweets                299998
Message                 299998
dtype: int64

In [12]:
df_selected_columns = df_selected_columns.dropna()
df_selected_columns.reset_index(drop=True, inplace=True)

In [13]:
df_selected_columns.count()

User Name               290677
Followers at Posting    290677
Created                 290677
Type                    290677
Likes                   290677
Retweets                290677
Message                 290677
dtype: int64

In [14]:
# Convert "Created" into datetime 
df_selected_columns['Created'] = pd.to_datetime(df_selected_columns['Created'])

In [15]:
df_selected_columns.head()

,User Name,Followers at Posting,Created,Type,Likes,Retweets,Message
0,therealjuicyj,2645413.0,2019-06-14 03:49:25,Tweet,864,190,Whomever made bets made good money tonight
1,lukecombs,336828.0,2019-06-14 03:18:23,Tweet,3859,102,.@nicohocking is bae
2,adamlambert,2477885.0,2019-06-14 03:03:07,Link,832,343,Korea! Tickets are on sale NOW for Queen + Ada...
3,russdiemon,2043124.0,2019-06-14 02:56:16,Tweet,986,31,What questions y‚Äôall want @KidSuper to ask me?...
4,gerardoortiznet,3082321.0,2019-06-14 02:43:58,Photo,727,76,üöòüòéüòú https://t.co/4yeXAIbwA7

In [16]:
df_selected_columns['Number of characters'] = df_selected_columns['Message'].apply(len)

In [17]:
df_selected_columns['Number of hashtags'] = df_selected_columns.apply(lambda x: x['Message'].count('#'), axis=1)

In [18]:
df_selected_columns.head()

,User Name,Followers at Posting,Created,Type,Likes,Retweets,Message,Number of characters,Number of hashtags
0,therealjuicyj,2645413.0,2019-06-14 03:49:25,Tweet,864,190,Whomever made bets made good money tonight,42,0
1,lukecombs,336828.0,2019-06-14 03:18:23,Tweet,3859,102,.@nicohocking is bae,20,0
2,adamlambert,2477885.0,2019-06-14 03:03:07,Link,832,343,Korea! Tickets are on sale NOW for Queen + Ada...,232,1
3,russdiemon,2043124.0,2019-06-14 02:56:16,Tweet,986,31,What questions y‚Äôall want @KidSuper to ask me?...,81,0
4,gerardoortiznet,3082321.0,2019-06-14 02:43:58,Photo,727,76,üöòüòéüòú https://t.co/4yeXAIbwA7,27,0

In [19]:
pd.get_dummies(df_selected_columns, prefix=['Type'], columns=['Type'])

,User Name,Followers at Posting,Created,Likes,Retweets,Message,Number of characters,Number of hashtags,Type_Link,Type_Native Video,Type_Photo,Type_Tweet,Type_Video,Type_Vine
0,therealjuicyj,2645413.0,2019-06-14 03:49:25,864,190,Whomever made bets made good money tonight,42,0,0,0,0,1,0,0
1,lukecombs,336828.0,2019-06-14 03:18:23,3859,102,.@nicohocking is bae,20,0,0,0,0,1,0,0
2,adamlambert,2477885.0,2019-06-14 03:03:07,832,343,Korea! Tickets are on sale NOW for Queen + Ada...,232,1,1,0,0,0,0,0
3,russdiemon,2043124.0,2019-06-14 02:56:16,986,31,What questions y‚Äôall want @KidSuper to ask me?...,81,0,0,0,0,1,0,0
4,gerardoortiznet,3082321.0,2019-06-14 02:43:58,727,76,üöòüòéüòú https://t.co/4yeXAIbwA7,27,0,0,0,1,0,0,0
5,thalia,9567561.0,2019-06-14 02:19:47,622,140,¬°Sorpresa! Surprise!!!! üéâüíÉüèºüíã #TRetro #Thalia #...,192,9,0,0,0,0,1,0
6,xtina,16978546.0,2019-06-14 02:16:41,4752,446,Comin for ya Vegas üíã https://t.co/EB3ecdNRTD,44,0,0,1,0,0,0,0
7,adamlambert,2477885.0,2019-06-14 02:03:36,1370,346,To keep you wanting more my dear. :) it‚Äôs like...,214,0,1,0,0,0,0,0
8,adamlambert,2477885.0,2019-06-14 02:01:55,809,234,I actually haven‚Äôt decided yet. :) https://twi...,94,0,1,0,0,0,0,0
9,adamlambert,2477885.0,2019-06-14 02:00:57,754,201,No not exactly. https://twitter.com/adaml_dail...,74,0,1,0,0,0,0,0
10,CNCOmusic,954522.0,2019-06-14 01:36:33,8417,1902,Âêõ„ÅåË°å„Åç„Åü„ÅÑÊâÄ„Å∏„Å©„Åì„Å∏„Åß„ÇÇÈÄ£„Çå„Å¶Ë°å„Åè„Çà„ÄÇÂêõ„Å´Ë¶ã„Åõ„Åü„ÅÑ„ÇÇ„ÅÆ„Åå„Åü„Åè„Åï„Çì„ÅÇ„Çã„Çì„Å†„ÄÇ„Åï„ÅÇ„ÄÅ„ÇÇ„ÅÜ‰∏ÄÂ∫¶Âßã...,103,0,0,1,0,0,0,0
11,djkhaled,4523020.0,2019-06-14 01:22:22,568,67,TUNE IN NOW! #WETHEBESTRADIO @Beats1 @AppleMus...,136,1,0,1,0,0,0,0
12,russdiemon,2043124.0,2019-06-14 01:17:37,69040,13403,üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠üáµüá≠,24,0,0,0,0,1,0,0
13,LuisCoronel,437773.0,2019-06-14 01:10:53,418,36,Buenas!,7,0,0,0,0,1,0,0
14,BustaRhymes,3702877.0,2019-06-14 01:05:41,62,9,Happy 13yrs of GREATNESS!! #THEBIGBANG @qtipth...,140,1,1,0,0,0,0,0
15,carlosvives,5058857.0,2019-06-14 00:56:14,2283,431,Y qu√© tal si #RegresanLosCl√°sicos #HamacaGrand...,71,2,0,1,0,0,0,0
16,xtina,16978546.0,2019-06-14 00:53:52,3001,553,LOVE! üåàüåàüåà https://twitter.com/viniceo/status/1...,64,0,1,0,0,0,0,0
17,adamlambert,2477885.0,2019-06-14 00:51:48,4256,940,Dropping another song June 26th!,32,0,0,0,0,1,0,0
18,Pharrell,10905276.0,2019-06-14 00:45:36,546,57,you‚Äôre gonna make me emotional https://twitter...,84,0,1,0,0,0,0,0
19,therealjuicyj,2645413.0,2019-06-14 00:44:52,416,48,Democrat or republican ?,24,0,0,0,0,1,0,0
20,xtina,16977081.0,2019-06-14 00:39:43,1211,138,Love u guys! Love reading your messages of pos...,132,0,1,0,0,0,0,0
21,Pharrell,10905276.0,2019-06-14 00:39:25,599,118,üåç https://twitter.com/michaelsnow_/status/1139...,61,0,1,0,0,0,0,0
22,LittleMix,11776457.0,2019-06-14 00:38:24,11011,2852,Notice anything when you tweet #BounceBack Kee...,105,1,0,0,0,1,0,0
23,xtina,16977081.0,2019-06-14 00:36:02,1830,240,"Coming atcha 3 times this week, Vegas! üåü I don...",119,1,0,0,0,1,0,0
24,xtina,16977081.0,2019-06-14 00:28:35,4127,762,Just a peek #TheXperience https://t.co/VLyLhuSUtx,49,1,0,1,0,0,0,0
25,xtina,16977081.0,2019-06-14 00:28:24,755,92,üéâüéâüéâ https://twitter.com/projectslay/status/113...,62,0,1,0,0,0,0,0
26,adamlambert,2478050.0,2019-06-14 00:18:55,3759,1079,My new album #Velvet will be released in two p...,80,1,0,0,0,1,0,0
27,FrancoDeVita,4496860.0,2019-06-14 00:03:12,367,77,"#TBT Radio Rochela (1984) ‚Ä¢ Caracas, Venezuela...",89,2,0,1,0,0,0,0
28,russdiemon,2043124.0,2019-06-13 23:45:37,10896,1927,CIVIL WAR,9,0,0,0,0,1,0,0
29,NattiNatasha,262294.0,2019-06-13 23:38:33,416,34,Yesssss https://twitter.com/pandoramusic/statu...,67,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290647,iambeckyg,1669331.0,2015-09-11 20:11:19,2878,1021,I'm already here ‚ò∫Ô∏èüôåüèºüëçüèºüëèüèºüòä,26,0,0,0,0,1,0,0
290648,YoGotti,1256599.0,2015-09-11 20:09:35,18,27,#Forreal RT @Obey__Bri: Everywhere I go I see ...,101,1,0,0,0,1,0,0
290649,MarcAnthony,7989788.0,2015-09-11 20:07:38,217,67,"Orgulloso de una de mis NYC maestras, Miriam C...",137,0,0,0,0,1,0,0
290650,SilvestreFDC,1593063.0,2015-09-11 20:05:24,141,69,Listo en #silvestreeneltiempotele @silviaberna...,113,1,1,0,0,0,0,0
290651,MarcAnthony,7989788.0,2015-09-11 20:05:04,125,37,Proud of my beloved NYC figure Miriam Col√≥n. C...,140,0,0,0,0,1,0,0
290652,FrencHMonTanA,2355813.0,2015-09-11 19:59:53,23,33,New Mixtape @YoGottiKom üî•üî•üî• #TheReturn https:/...,62,1,1,0,0,0,0,0
290653,YoGotti,1256599.0,2015-09-11 19:58:37,62,100,‚úàÔ∏è ‚úàÔ∏è ‚úàÔ∏è ‚úàÔ∏è ‚úàÔ∏è,14,0,0,0,0,1,0,0
290654,FarrukoOfficial,2584173.0,2015-09-11 19:57:39,239,91,S√≠ganme en snapchat -->farrukoofficial y recue...,138,1,0,1,0,0,0,0
290655,MarcAnthony,7989788.0,2015-09-11 19:56:47,185,53,"Mi Gente, thrilled to be returning home to sin...",136,3,1,0,0,0,0,0
290656,MarcAnthony,7989788.0,2015-09-11 19:55:33,333,106,Mi querida gente! Que alegria! Regreso a mi ti...,133,3,0,0,0,1,0,0
290657,djkhaled,2445531.0,2015-09-11 19:54:00,49,40,I got mail ...#allidoiswin over 3 million sold...,120,1,1,0,0,0,0,0
290658,Fonseca,3508063.0,2015-09-11 19:52:10,11,7,Abrazo grande hermano!!! https://t.co/p5zj7vggP4,48,0,1,0,0,0,0,0
290659,fosterthepeople,910301.0,2015-09-11 19:51:32,1130,370,Friday feels. #IsomUpInnis http://t.co/eIwxLlyRwo,49,1,0,0,1,0,0,0
290660,SnoopDogg,12776460.0,2015-09-11 19:49:31,96,39,Cadillac music where he music make u feel good...,100,0,1,0,0,0,0,0
290661,SnoopDogg,12776460.0,2015-09-11 19:46:30,152,48,http://t.co/pWzFOBAGqF http://t.co/rfa8SgyCkM,45,0,1,0,0,0,0,0
290662,SnoopDogg,12776460.0,2015-09-11 19:46:28,54,15,Just posted a photo https://t.co/DobOzqL952,43,0,1,0,0,0,0,0
290663,SnoopDogg,12776460.0,2015-09-11 19:44:36,1146,637,http://t.co/xunWJcwjSF http://t.co/ToEvfsWIEI,45,0,1,0,0,0,0,0
290664,SnoopDogg,12776460.0,2015-09-11 19:44:32,52,23,Just posted a photo https://t.co/rxsQGw56hW,43,0,1,0,0,0,0,0
290665,SnoopDogg,12776460.0,2015-09-11 19:44:13,201,82,Kane üëäüèæ http://t.co/uyjt4YsggR http://t.co/kIa...,53,0,1,0,0,0,0,0
290666,SnoopDogg,12776460.0,2015-09-11 19:44:11,64,25,Kane üëäüèæ https://t.co/2Zth9g1SVm,31,0,1,0,0,0,0,0
290667,TheTimMcGraw,2152252.0,2015-09-11 19:43:06,301,91,Not coming down from the #RockyMountainHigh we...,172,1,0,1,0,0,0,0
290668,YoGotti,1256599.0,2015-09-11 19:37:25,35,46,#TheReturn U Sleepüí§ RT @nonchal_Ant: What's @Y...,75,1,0,0,0,1,0,0
290669,YoGotti,1256599.0,2015-09-11 19:35:56,15,12,#Forreal RT @CANNONGRAMZ: WE FOREVA GON GET DI...,67,1,0,0,0,1,0,0
290670,YoGotti,1256599.0,2015-09-11 19:32:35,124,281,New Mixtape: Yo Gotti ‚ÄúThe Return‚Äù [listen] ht...,66,0,1,0,0,0,0,0
290671,YoGotti,1256599.0,2015-09-11 19:32:14,107,274,#TheReturn,10,1,0,0,0,1,0,0
290672,YoGotti,1256599.0,2015-09-11 19:31:54,18,11,üëÄ RT @ThickGirl_Swagg: My DM poppin @YoGottiKOM,47,0,0,0,0,1,0,0
290673,1future,1668274.0,2015-09-11 19:24:44,242,133,Download 'March Madness' on iTunes NOW!!!! htt...,70,1,1,0,0,0,0,0
290674,YoGotti,1256599.0,2015-09-11 19:14:01,12,18,#TheReturn RT @OGShaadWard: Jamming @YoGottiKO...,70,1,0,0,1,0,0,0
290675,FrencHMonTanA,2355813.0,2015-09-11 19:13:15,26,12,#onehellofanitetour #airtime https://t.co/Y6uo...,52,2,1,0,0,0,0,0
290676,iambeckyg,1669331.0,2015-09-11 19:13:01,2001,703,üíú https://t.co/Ew44pEdLYp,25,0,1,0,0,0,0,0

In [20]:
df_selected_columns['Score'] = df_selected_columns.apply(lambda x: (x['Likes'] + x['Retweets']) / x['Followers at Posting'], axis=1)

In [21]:
df_selected_columns.head()

,User Name,Followers at Posting,Created,Type,Likes,Retweets,Message,Number of characters,Number of hashtags,Score
0,therealjuicyj,2645413.0,2019-06-14 03:49:25,Tweet,864,190,Whomever made bets made good money tonight,42,0,0.000398
1,lukecombs,336828.0,2019-06-14 03:18:23,Tweet,3859,102,.@nicohocking is bae,20,0,0.011760
2,adamlambert,2477885.0,2019-06-14 03:03:07,Link,832,343,Korea! Tickets are on sale NOW for Queen + Ada...,232,1,0.000474
3,russdiemon,2043124.0,2019-06-14 02:56:16,Tweet,986,31,What questions y‚Äôall want @KidSuper to ask me?...,81,0,0.000498
4,gerardoortiznet,3082321.0,2019-06-14 02:43:58,Photo,727,76,üöòüòéüòú https://t.co/4yeXAIbwA7,27,0,0.000261

In [22]:
df_selected_columns['Score'].describe()

count    290677.000000
mean          0.002099
std           0.008438
min           0.000000
25%           0.000063
50%           0.000245
75%           0.001200
max           1.488100
Name: Score, dtype: float64

In [23]:
df_selected_columns = df_selected_columns.drop(['Followers at Posting', 'Likes', 'Retweets', 'Message'], axis=1)

In [24]:
df_selected_columns.head()

,User Name,Created,Type,Number of characters,Number of hashtags,Score
0,therealjuicyj,2019-06-14 03:49:25,Tweet,42,0,0.000398
1,lukecombs,2019-06-14 03:18:23,Tweet,20,0,0.011760
2,adamlambert,2019-06-14 03:03:07,Link,232,1,0.000474
3,russdiemon,2019-06-14 02:56:16,Tweet,81,0,0.000498
4,gerardoortiznet,2019-06-14 02:43:58,Photo,27,0,0.000261

In [25]:
df_selected_columns.sort_values(by=['User Name','Created'], inplace=True)

In [26]:
df_selected_columns['Time Difference between Prior And Current Post'] = df_selected_columns.groupby('User Name')['Created'].diff()

In [27]:
df_selected_columns.reset_index(drop=True, inplace=True)

In [28]:
df_selected_columns.to_csv('Data/twitter_5yrs_features.csv')