In [37]:
import pandas as pd
import numpy as np
import json
import urllib
import dateutil.parser
from dateutil.tz import gettz
from dateutil import tz
from datetime import datetime
import time
from datetime import timedelta

In [2]:
new_artist = pd.read_csv('new_artist.csv',header=None)
new_artist

                      0                         1
0                 Drake  UCByOQJjav0CUDwxCk-jVNRQ
1            The Weeknd  UC0WP5P-ufpRfjbNrmOWwLBQ
2               J. Cole  UCnc6db-y3IU7CkT_yeVXdVg
3            Ed Sheeran  UC0C-w0YjGpqDXGB8IHb662A
4        Kendrick Lamar  UCprAFmT0C6O4X0ToEXpeFTQ
5                Eminem  UCfM3zsQsOnfWNUppiycmBuw
6         Ariana Grande  UC9CoOnJkIBMdeijd9qYoT_g
7                Khalid  UCkntT5Je5DDopF70YUsnuEQ
8            Kanye West  UCs6eXM7s8Vl5WcECcRHc2qQ
9       Imagine Dragons  UCT9zcQNlyht7fRlcjmflRSA
10              Rihanna  UCcgqSM4YEo5vVQpqwN-MaNw
11        Justin Bieber  UCIwFjwMjI0y7PDBVEO9-bkQ
12           Marshmello  UCEdvpU2pFRCVqU6yIPyTpMQ
13  Panic! At The Disco  UColJTBTSGqaaZr5NOk5r3Pg
14    Twenty One Pilots  UCBQZwaNPFfJ1gZ1fLZpAEGw
15                Ozuna  UCjIA3wwhi0QjSOXAZwOXbPA
16             J Balvin  UCt-k6JwNWHMXDBGm9IYHdsg
17    Portugal. The Man  UC0TobZSDyMaXaoVK_9TcPHA

In [3]:
api_list = [
       'AIzaSyDVu4X4qSr4T9ywLiYnw8zGF9C7Fl71gqQ',
 'AIzaSyBVVPXVAlZ0RC9Bc5lkNFuqK_AxBapZhok',
        'AIzaSyB7BTOPWmU3ZtzjrAgeqQFYuy0MN7V3ZlE',
        'AIzaSyBmh7w3RgwOHMIZAImYqqv8weHryFOgOiE',
        'AIzaSyAeeSg80EvxKJ24LWtASh-3ve0iz_emLkE',
 'AIzaSyAeeSg80EvxKJ24LWtASh-3ve0iz_emLkE',
     'AIzaSyDuzjLQlIYhj3hp104d_1H4WsKUGWx_hdk',
        'AIzaSyBq3I664oOMRK_ZThE3fGejGnIOb2ezrvI',
        'AIzaSyCq-gqFHs6zProti9FRf_n6F9uC3NzdVLA',
        'AIzaSyCTG9gJH8g8QrvHfT4KkGycpKPv05O-74A'
           ]

In [4]:
import random
def get_all_video_in_channel(artist,channel_id, api_list):
#     api_key = 'AIzaSyAeeSg80EvxKJ24LWtASh-3ve0iz_emLkE'
    api_key = api_list[-1]
    a_num = 0
    video_time = []
    video_name = []
    play_list = []
    video_links = []
    col_1 = []
    col_2 = []
    col_3 = []
    
    col_4 = []
    col_5 = []
    col_6 = []
    col_7 = []
    col_8 = []

    
    base_video_url = 'https://www.youtube.com/watch?v='
    base_search_url = 'https://www.googleapis.com/youtube/v3/search?'
    base_playlist_url = 'https://www.googleapis.com/youtube/v3/playlists?'
    first_url = base_playlist_url+'key={}&maxResults=50&part=contentDetails&channelId={}'.format(api_key, channel_id)

    url = first_url
    while True:
        inp = urllib.request.urlopen(url)
        resp = json.load(inp)
        
        for i in resp['items']:
            if i['kind'] == "youtube#playlist":
                play_list.append(i['id'])
    
        try:
            next_page_token = resp['nextPageToken']
            url = first_url + '&pageToken={}'.format(next_page_token)
        except:
            break
            
    for i in play_list:
        first_url = 'https://www.googleapis.com/youtube/v3/playlistItems?key={}&maxResults=50&part=contentDetails,snippet&playlistId={}'.format(api_key,i)
        url = first_url
        while True:
            inp = urllib.request.urlopen(url)
            resp = json.load(inp)

            for i in resp['items']:
                if i['kind'] == "youtube#playlistItem":
                    if i['snippet']["resourceId"]['kind']=='youtube#video':
                        col_1.append(artist)
                        col_2.append(i['snippet']['title'])
                        col_3.append(i['snippet']['publishedAt'])
                        video_id = i['snippet']["resourceId"]['videoId']
                        video_url = 'https://www.googleapis.com/youtube/v3/videos?part=statistics&id='+video_id+'&key='+api_list[a_num]
                        video_stats = ''
                        try:
                            video_stats = urllib.request.urlopen(video_url)
                        except:
                            print('Key number '+str(a_num))
                            original = a_num
                            a_num = random.randint(0, len(api_list)-1)
                            while a_num==original:
                                a_num = random.randint(0, len(api_list)-1)
                            print('Switching key to ' +str(a_num))
                            video_url = 'https://www.googleapis.com/youtube/v3/videos?part=statistics&id='+video_id+'&key='+api_list[a_num]
                            video_stats = urllib.request.urlopen(video_url)
                        vstats = json.load(video_stats)
#                         print(video_id)
                        if vstats["pageInfo"]["totalResults"]>0:
#                             print(vstats["items"][0]['statistics'])
                            try:
                                col_4.append(vstats["items"][0]['statistics']["viewCount"])
                            except:
                                col_4.append(0)
                            try:
                                col_5.append(vstats["items"][0]['statistics']["likeCount"])
                            except:
                                col_5.append(0)
                            try:
                                col_6.append(vstats["items"][0]['statistics']["dislikeCount"])
                            except:
                                col_6.append(0)
                            try:
                                col_7.append(vstats["items"][0]['statistics']["favoriteCount"])
                            except:
                                col_7.append(0)
                            try:
                                col_8.append(vstats["items"][0]['statistics']["commentCount"])
                            except:
                                col_8.append(0)
                        else:
                            col_4.append(0)
                            col_5.append(0)
                            col_6.append(0)
                            col_7.append(0)
                            col_8.append(0)
                        if a_num==len(api_list)-1:
                            return [col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8]
            try:
                next_page_token = resp['nextPageToken']
                url = first_url + '&pageToken={}'.format(next_page_token)
            except:
                break
#     while True:
#         inp = urllib.request.urlopen(url)
#         resp = json.load(inp)

#         for i in resp['items']:
#             if i['id']['kind'] == "youtube#video":
#                 video_time.append(i['snippet']['publishedAt'])
#                 video_name.append(i['snippet']['title'])
#                 video_links.append(base_video_url + i['id']['videoId'])

#         try:
#             next_page_token = resp['nextPageToken']
#             url = first_url + '&pageToken={}'.format(next_page_token)
#         except:
#             break
        
    return [col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8]

In [5]:
def get_results(all_data,youtubeid,api_key):
    for i in range(len(youtubeid)):
        print(youtubeid.iloc[i,0])
        result = get_all_video_in_channel(youtubeid.iloc[i,0],youtubeid.iloc[i,1],api_key)
        rdf = pd.DataFrame(np.array(result).T)
        all_data.append(rdf)
    return all_data

In [8]:
tn = 0
new_list = []
# 1: 5
# 2: 10
# 3: 15
# 4: 20
# n :5*(n-1) : 5*n
update_data = get_results(new_list, new_artist, api_list)

Drake
The Weeknd
J. Cole
Ed Sheeran
Kendrick Lamar
Eminem
Ariana Grande
Khalid
Kanye West
Imagine Dragons
Rihanna
Justin Bieber
Marshmello
Panic! At The Disco
Twenty One Pilots
Key number 0
Switching key to 1
Ozuna
Key number 0
Switching key to 1
J Balvin
Key number 0
Switching key to 4
Portugal. The Man
Key number 0
Switching key to 1

In [10]:
mmm = pd.concat(update_data, ignore_index=True)
mmm.head()

,0,1,2,3,4,5,6,7
0,Drake,Travis Scott - SICKO MODE ft. Drake (Official ...,2018-10-31T16:26:33.000Z,361299643,3261044,201289,0,186440
1,Drake,Private video,2018-10-31T16:27:26.000Z,0,0,0,0,0
2,Drake,Bad Bunny feat. Drake - Mia ( Video Oficial ),2018-10-31T16:27:56.000Z,854529550,4866711,289591,0,179917
3,Drake,Drake - Nonstop,2018-10-31T16:28:25.000Z,60275775,675860,29803,0,25820
4,Drake,Drake - Nice For What,2018-10-31T16:29:05.000Z,322839426,2232017,124269,0,84595

In [11]:
mmm.to_csv("new_artist_data_backup.csv")

In [12]:
def get_channel_stats(artist,channel_id, api_list):

    api_key = api_list[-1]
    a_num = 0
    video_time = []
    video_name = []
    play_list = []
    video_links = []
    col_1 = []
    col_2 = []
    col_3 = []

    base_video_url = 'https://www.youtube.com/watch?v='
    base_search_url = 'https://www.googleapis.com/youtube/v3/search?'

    base_channel_url = 'https://www.googleapis.com/youtube/v3/channels?'
    first_url = base_channel_url+'key={}&maxResults=50&part=statistics,snippet&id={}'.format(api_key, channel_id)
    url = first_url
#     while True:
    inp = urllib.request.urlopen(url)
    resp = json.load(inp)
    col_1.append(resp['items'][0]['snippet']['title'])
    col_2.append(resp['items'][0]['statistics']['viewCount'])
    col_3.append(resp['items'][0]['statistics']['subscriberCount'])

#     try:
#         next_page_token = resp['nextPageToken']
#         url = first_url + '&pageToken={}'.format(next_page_token)
#     except:
#         break     
    return [col_1,col_2,col_3]

In [13]:
def get_results(all_data,youtubeid,api_key):
    for i in range(len(youtubeid)):
        print(youtubeid.iloc[i,0])
        result = get_channel_stats(youtubeid.iloc[i,0],youtubeid.iloc[i,1],api_key)
        rdf = pd.DataFrame(np.array(result).T)
        all_data.append(rdf)
    return all_data

In [14]:
cha =[]
cha_agg = get_results(cha, new_artist,api_list[1:])

Drake
The Weeknd
J. Cole
Ed Sheeran
Kendrick Lamar
Eminem
Ariana Grande
Khalid
Kanye West
Imagine Dragons
Rihanna
Justin Bieber
Marshmello
Panic! At The Disco
Twenty One Pilots
Ozuna
J Balvin
Portugal. The Man

In [15]:
www = pd.concat(cha_agg, ignore_index=True)
www.head()

                        0            1         2
0                   Drake    369771282  18552910
1              The Weeknd    811988267  15788959
2                 J. Cole    159103033   3889676
3              Ed Sheeran  17213104907  40362241
4  Kendrick Lamar - Topic     91752500   1120524

In [19]:
mmm.columns=['artist_name', 'description', 'created', 'viewCount','likeCount','dislikeCount','favoriteCount','commentCount']

In [23]:
www.columns=['artist_name','channelView','channelSubscriber']
www.head()

              artist_name  channelView channelSubscriber
0                   Drake    369771282          18552910
1              The Weeknd    811988267          15788959
2                 J. Cole    159103033           3889676
3              Ed Sheeran  17213104907          40362241
4  Kendrick Lamar - Topic     91752500           1120524

In [25]:
new_artist_data = mmm.join(www.set_index('artist_name'), on='artist_name')
new_artist_data.head()

,artist_name,description,created,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,channelView,channelSubscriber
0,Drake,Travis Scott - SICKO MODE ft. Drake (Official ...,2018-10-31T16:26:33.000Z,361299643,3261044,201289,0,186440,369771282,18552910
1,Drake,Private video,2018-10-31T16:27:26.000Z,0,0,0,0,0,369771282,18552910
2,Drake,Bad Bunny feat. Drake - Mia ( Video Oficial ),2018-10-31T16:27:56.000Z,854529550,4866711,289591,0,179917,369771282,18552910
3,Drake,Drake - Nonstop,2018-10-31T16:28:25.000Z,60275775,675860,29803,0,25820,369771282,18552910
4,Drake,Drake - Nice For What,2018-10-31T16:29:05.000Z,322839426,2232017,124269,0,84595,369771282,18552910

In [27]:
def convertTZ(d):
    from_zone = tz.gettz('UTC')
    d = d.replace(tzinfo=from_zone)
    to_zone = tz.gettz('America/Pittsburgh')
    return d.astimezone(to_zone)

def datetime_from_utc_to_local(utc_datetime):
    now_timestamp = time.time()
    offset = datetime.fromtimestamp(now_timestamp) - datetime.utcfromtimestamp(now_timestamp)
    return utc_datetime + offset

In [28]:
new_artist_data["created"] =  new_artist_data["created"].apply(dateutil.parser.parse)
new_artist_data["created"] =  new_artist_data["created"].apply(convertTZ)
new_artist_data["created"] =  new_artist_data["created"].apply(datetime_from_utc_to_local)

new_artist_data["created"].head()

0   2018-10-31 12:26:33
1   2018-10-31 12:27:26
2   2018-10-31 12:27:56
3   2018-10-31 12:28:25
4   2018-10-31 12:29:05
Name: created, dtype: datetime64[ns]

In [29]:
def time_of_day_creation(x):
    '''
    Takes in an integer and returns one of four time slots:
    ['12am-6am', '6am-12pm', '12pm-6pm', '6pm-12am']
    '''
    
    slots_out = ['12am-6am', '6am-12pm', '12pm-6pm', '6pm-12am']
    slot0 = np.arange(0,6)
    slot1 = np.arange(6,12)
    slot2 = np.arange(12,18)
    slot3 = np.arange(18,24)

    if x in slot0:
        return slots_out[0]
    elif x in slot1:
        return slots_out[1]
    elif x in slot2:
        return slots_out[2]
    elif x in slot3:
        return slots_out[3]
    else:
        return 'NaN'

In [31]:
def get_hour(d):
    return d.hour
new_artist_data["hour"] = new_artist_data["created"].apply(get_hour)
new_artist_data['time_of_day']=new_artist_data['hour'].apply(time_of_day_creation)
new_artist_data['within_week_release'] = 0
new_artist_data['within_month_release'] = 0
new_artist_data = pd.concat([new_artist_data ,pd.get_dummies(new_artist_data['time_of_day'],prefix='tod')],axis=1)

,artist_name,description,created,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,channelView,channelSubscriber,hour,time_of_day,within_week_release,within_month_release,tod_12am-6am,tod_12pm-6pm,tod_6am-12pm,tod_6pm-12am
0,Drake,Travis Scott - SICKO MODE ft. Drake (Official ...,2018-10-31 12:26:33,361299643,3261044,201289,0,186440,369771282,18552910,12,12pm-6pm,0,0,0,1,0,0
1,Drake,Private video,2018-10-31 12:27:26,0,0,0,0,0,369771282,18552910,12,12pm-6pm,0,0,0,1,0,0
2,Drake,Bad Bunny feat. Drake - Mia ( Video Oficial ),2018-10-31 12:27:56,854529550,4866711,289591,0,179917,369771282,18552910,12,12pm-6pm,0,0,0,1,0,0
3,Drake,Drake - Nonstop,2018-10-31 12:28:25,60275775,675860,29803,0,25820,369771282,18552910,12,12pm-6pm,0,0,0,1,0,0
4,Drake,Drake - Nice For What,2018-10-31 12:29:05,322839426,2232017,124269,0,84595,369771282,18552910,12,12pm-6pm,0,0,0,1,0,0

In [35]:
new_artist_data['post_last_week'] = 0
new_artist_data['post_last_month'] = 0
new_artist_data = new_artist_data.sort_values(by=['artist_name','created'])
new_artist_data=new_artist_data.reset_index(drop=True)
new_artist_data.head()

,artist_name,description,created,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,channelView,channelSubscriber,hour,time_of_day,within_week_release,within_month_release,tod_12am-6am,tod_12pm-6pm,tod_6am-12pm,tod_6pm-12am,post_last_week,post_last_month
0,Ariana Grande,Ariana Grande - Die In Your Arms cover (Justin...,2012-07-27 14:35:00,12574004,217625,2995,0,20164,846891710,36540377,14,12pm-6pm,0,0,0,1,0,0,0,0
1,Ariana Grande,Take care preview.. Leon Thomas III feat Arian...,2012-07-27 14:35:00,428370,11268,104,0,1459,846891710,36540377,14,12pm-6pm,0,0,0,1,0,0,0,0
2,Ariana Grande,"""Chestnuts"" Merry Christmas! Love, Ari and Liz",2012-07-27 14:35:00,1892742,37469,297,0,4034,846891710,36540377,14,12pm-6pm,0,0,0,1,0,0,0,0
3,Ariana Grande,Born This Way / Express Yourself - Ariana Gran...,2012-07-27 14:35:00,2263211,31579,645,0,3341,846891710,36540377,14,12pm-6pm,0,0,0,1,0,0,0,0
4,Ariana Grande,"""There's Hope""- Ariana Grande",2012-07-27 14:35:01,895553,22846,159,0,1890,846891710,36540377,14,12pm-6pm,0,0,0,1,0,0,0,0

In [38]:

for i in range(1,len(new_artist_data)):
    if (i+1)%200==0:
        print(str(i+1)+ ' has been completed!')
    posts=0
    for j in range(i-1,-1,-1):
        if new_artist_data['artist_name'][i]!=new_artist_data['artist_name'][j]:
            break
        if new_artist_data['created'][i]-new_artist_data['created'][j]>timedelta(weeks=1):
            break
        else:
            posts+=1
    new_artist_data['post_last_week'][i]=posts

C:\Users\antil\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

200 has been completed!
400 has been completed!
600 has been completed!
800 has been completed!
1000 has been completed!
1200 has been completed!
1400 has been completed!
1600 has been completed!
1800 has been completed!
2000 has been completed!
2200 has been completed!
2400 has been completed!
2600 has been completed!
2800 has been completed!
3000 has been completed!
3200 has been completed!
3400 has been completed!
3600 has been completed!

In [39]:
for i in range(1,len(new_artist_data)):
    if (i+1)%200==0:
        print(str(i+1)+ ' has been completed!')
    posts=0
    for j in range(i-1,-1,-1):
        if new_artist_data['artist_name'][i]!=new_artist_data['artist_name'][j]:
            break
        if new_artist_data['created'][i]-new_artist_data['created'][j]>timedelta(days=30):
            break
        else:
            posts+=1
    new_artist_data['post_last_month'][i]=posts

C:\Users\antil\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

200 has been completed!
400 has been completed!
600 has been completed!
800 has been completed!
1000 has been completed!
1200 has been completed!
1400 has been completed!
1600 has been completed!
1800 has been completed!
2000 has been completed!
2200 has been completed!
2400 has been completed!
2600 has been completed!
2800 has been completed!
3000 has been completed!
3200 has been completed!
3400 has been completed!
3600 has been completed!

In [45]:
# facebook_data=pd.read_csv('facebook_7yrs.csv')
# facebook_data['created']=pd.to_datetime(facebook_data['created'])
# facebook_data.tail()

,Unnamed: 0,fb_handle_artist_name,created,description,crowdtangle_score,count_of_followers,type_link,type_photo,type_text,type_video,...,created_12pm-6pm,created_6am-12pm,created_6pm-12am,time_since_last_post,hashtag_count,within_week_release,within_month_release,social_engagement_score,last_7_days,last_30_days
312199,312199,zayn,2019-05-03 21:35:02,NaN,-1.88,19724855.0,0,1,0,0,...,0,0,1,6 days 05:42:52.000000000,0,0,0,0.001505,2.0,6.0
312200,312200,zayn,2019-05-04 15:29:47,NaN,3.05,19724855.0,0,1,0,0,...,1,0,0,0 days 17:54:45.000000000,0,0,0,0.008611,2.0,7.0
312201,312201,zayn,2019-05-05 15:30:34,NaN,2.77,19724616.0,0,1,0,0,...,1,0,0,1 days 00:00:47.000000000,0,0,0,0.007838,3.0,7.0
312202,312202,zayn,2019-05-09 12:01:21,A Whole New World Out Now! #Aladdin smartu...,5.89,19725377.0,0,0,0,1,...,1,0,0,3 days 20:30:47.000000000,1,0,0,0.011026,4.0,8.0
312203,312203,zayn,2019-05-10 13:26:43,NaN,-1.44,19727123.0,0,1,0,0,...,1,0,0,1 days 01:25:22.000000000,0,0,0,0.001964,4.0,9.0

In [44]:
# type(facebook_data['created'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [47]:
new_artist_data['crowdtangle_score']=0
new_artist_data['type_photo']=0
new_artist_data['type_video']=1
new_artist_data['type_text']=0
new_artist_data['type_link']=0
new_artist_data['count_of_followers'] = 0
new_artist_data['hashtag_count'] = 0

In [48]:
new_artist_data.columns

Index(['artist_name', 'description', 'created', 'viewCount', 'likeCount',
       'dislikeCount', 'favoriteCount', 'commentCount', 'channelView',
       'channelSubscriber', 'hour', 'time_of_day', 'within_week_release',
       'within_month_release', 'tod_12am-6am', 'tod_12pm-6pm', 'tod_6am-12pm',
       'tod_6pm-12am', 'post_last_week', 'post_last_month',
       'crowdtangle_score', 'type_photo', 'type_video', 'type_text',
       'type_link', 'count_of_followers', 'hashtag_count'],
      dtype='object')

In [49]:
new_artist_data = new_artist_data.rename(columns={
                      "video":"description",
                      'tod_12am-6am':'created_12am-6am',
                     'tod_6am-12pm':'created_6am-12pm',
                     'tod_12pm-6pm':'created_12pm-6pm',
                     'tod_6pm-12am':'created_6pm-12am',
                     'post_last_week':'posts_last_7days',
                     'post_last_month':'posts_last_30days',
                     'since_last_post':'time_since_last_post'
                     })

In [57]:
def get_length(d):
    return len(d)

new_artist_data['description_length']=new_artist_data['description'].apply(get_length)
new_artist_data=new_artist_data.drop(['viewCount', 'likeCount',
                                            'dislikeCount', 'favoriteCount', 
                                            'commentCount', 'channelView',
                                            'channelSubscriber', 'hour'
                                           ],axis=1)
new_artist_data.columns

Index(['artist_name', 'description', 'created', 'time_of_day',
       'within_week_release', 'within_month_release', 'created_12am-6am',
       'created_12pm-6pm', 'created_6am-12pm', 'created_6pm-12am',
       'posts_last_7days', 'posts_last_30days', 'crowdtangle_score',
       'type_photo', 'type_video', 'type_text', 'type_link',
       'count_of_followers', 'hashtag_count', 'description_length'],
      dtype='object')

In [ ]:
def calculateRollupPosts(social_media_df,social_media_type, social_media_handle_field):
    time_range = pd.date_range(start='1/1/2016', end='6/30/2019', freq='d').to_frame(index=False)
    time_range.rename(columns={0: 'Time Period'}, inplace=True)
    master_artists_list = pd.read_csv('master_artists_list.csv', usecols=[social_media_type])
    time_range['join_key'] = 0
    master_artists_list['join_key'] = 0
    artists_time_range = master_artists_list.merge(time_range, how='left', on = 'join_key')
    artists_time_range.drop('join_key',1, inplace=True)
    artists_time_range.rename(columns={0: 'Time Period'}, inplace=True)
    social_media_df['Created_Day'] = social_media_df.created.dt.floor('d')
    df_aggregate = social_media_df.groupby([social_media_handle_field, 'Created_Day'], as_index=False).agg({"created": "count"})
    df_aggregate.rename(columns={'created': 'Posts In Day'}, inplace=True)
    df_merged = artists_time_range.merge(df_aggregate, how='left', left_on=[social_media_type,'Time Period'], right_on=[social_media_handle_field,'Created_Day'])
    df_merged['Posts In Day'] = df_merged['Posts In Day'].fillna(0)
    df_merged['last_7_days'] = df_merged[['Posts In Day']].groupby(df_merged[social_media_type]).apply(lambda g: g.rolling(7, min_periods=1).sum())
    df_merged['last_30_days'] = df_merged[['Posts In Day']].groupby(df_merged[social_media_type]).apply(lambda g: g.rolling(30, min_periods=1).sum())
    df_merged.drop(columns=[social_media_handle_field, 'Created_Day','Posts In Day'], inplace=True)
    social_media_df = social_media_df.merge(df_merged, how='left', right_on=[social_media_type,'Time Period'], left_on=[social_media_handle_field,'Created_Day'])
    social_media_df.drop(columns=[social_media_type, 'Time Period','Created_Day'], inplace=True)
    
    return social_media_df

In [ ]:
# new_artist_data = calculateRollupPosts(new_artist_data,'youtube','artist_name')

In [60]:
new_artist_data = new_artist_data.rename(columns={
                     'posts_last_7days':'last_7_days',
                     'posts_last_30days':'last_30_days',
                     })

In [64]:
new_artist_data['social_engagement_score']=np.nan
new_artist_data = new_artist_data.sort_values(by=['artist_name','created'])
new_artist_data['time_since_last_post']=new_artist_data.groupby('artist_name')['created'].diff()

In [54]:
old_artist_data = pd.read_csv('C:/Users/antil/Capstone/youtube_to_combine.csv')
old_artist_data.columns

Index(['artist_name', 'count_of_followers', 'created', 'created_12am-6am',
       'created_12pm-6pm', 'created_6am-12pm', 'created_6pm-12am',
       'crowdtangle_score', 'description', 'description_length',
       'hashtag_count', 'social_engagement_score', 'time_of_day',
       'time_since_last_post', 'type_link', 'type_photo', 'type_text',
       'type_video', 'within_month_release', 'within_week_release',
       'last_7_days', 'last_30_days'],
      dtype='object')

In [73]:
combined_artist_data=pd.concat([new_artist_data,old_artist_data])
combined_artist_data.reset_index(drop=True)
combined_artist_data

C:\Users\antil\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,artist_name,count_of_followers,created,created_12am-6am,created_12pm-6pm,created_6am-12pm,created_6pm-12am,crowdtangle_score,description,description_length,...,last_7_days,social_engagement_score,time_of_day,time_since_last_post,type_link,type_photo,type_text,type_video,within_month_release,within_week_release
0,Ariana Grande,0,2012-07-27 14:35:00,0,1,0,0,0.0,Ariana Grande - Die In Your Arms cover (Justin...,54,...,0.0,NaN,12pm-6pm,NaT,0,0,0,1,0,0
1,Ariana Grande,0,2012-07-27 14:35:00,0,1,0,0,0.0,Take care preview.. Leon Thomas III feat Arian...,69,...,1.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
2,Ariana Grande,0,2012-07-27 14:35:00,0,1,0,0,0.0,"""Chestnuts"" Merry Christmas! Love, Ari and Liz",47,...,2.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
3,Ariana Grande,0,2012-07-27 14:35:00,0,1,0,0,0.0,Born This Way / Express Yourself - Ariana Gran...,62,...,3.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
4,Ariana Grande,0,2012-07-27 14:35:01,0,1,0,0,0.0,"""There's Hope""- Ariana Grande",29,...,4.0,NaN,12pm-6pm,0 days 00:00:01,0,0,0,1,0,0
5,Ariana Grande,0,2012-07-27 14:41:03,0,1,0,0,0.0,Matt and me singing I Think You're Swell at Me...,75,...,5.0,NaN,12pm-6pm,0 days 00:06:02,0,0,0,1,0,0
6,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,I got a tattooed heart! - Ariana Grande,39,...,6.0,NaN,12pm-6pm,0 days 00:06:01,0,0,0,1,0,0
7,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,Old School Videos - Ariana Grande,33,...,7.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
8,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,Frankie sings the hits. LOL.,28,...,8.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
9,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,Mean Girls,10,...,9.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
10,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,yet..even more bloopers,23,...,10.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
11,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,More Bloopers,13,...,11.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
12,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,5 minute total body workout. best friends. Ari...,81,...,12.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
13,Ariana Grande,0,2012-07-27 14:47:04,0,1,0,0,0.0,Matt and me singing I Think You're Swell at Me...,75,...,13.0,NaN,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
14,Ariana Grande,0,2012-07-27 14:51:33,0,1,0,0,0.0,I got a tattooed heart! - Ariana Grande,39,...,14.0,NaN,12pm-6pm,0 days 00:04:29,0,0,0,1,0,0
15,Ariana Grande,0,2012-10-15 16:30:22,0,1,0,0,0.0,Chubby Bunny Challenge - Jennette and Ariana,44,...,0.0,NaN,12pm-6pm,80 days 01:38:49,0,0,0,1,0,0
16,Ariana Grande,0,2012-11-04 03:14:07,1,0,0,0,0.0,Cat's Random Thoughts: Swivel Chair - TheSlap.com,49,...,0.0,NaN,12am-6am,19 days 10:43:45,0,0,0,1,0,0
17,Ariana Grande,0,2012-11-04 03:16:48,1,0,0,0,0.0,Cat's Homework Helper: George Washington - The...,54,...,1.0,NaN,12am-6am,0 days 00:02:41,0,0,0,1,0,0
18,Ariana Grande,0,2013-01-15 22:16:09,0,0,0,1,0.0,Ariana singing Sweet Life - Frank Ocean,39,...,0.0,NaN,6pm-12am,72 days 18:59:21,0,0,0,1,0,0
19,Ariana Grande,0,2013-01-15 22:16:09,0,0,0,1,0.0,Larry Lovestein (Mac Miller) and Ariana Grande...,71,...,1.0,NaN,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20,Ariana Grande,0,2013-01-15 22:16:09,0,0,0,1,0.0,Me singing I Believe in You and Me by Whitney ...,53,...,2.0,NaN,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
21,Ariana Grande,0,2013-01-15 22:16:09,0,0,0,1,0.0,Popular Song - Mika (featuring Ariana Grande),45,...,3.0,NaN,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
22,Ariana Grande,0,2013-01-15 22:17:38,0,0,0,1,0.0,Private video,13,...,4.0,NaN,6pm-12am,0 days 00:01:29,0,0,0,1,0,0
23,Ariana Grande,0,2013-01-15 22:17:38,0,0,0,1,0.0,You say,7,...,5.0,NaN,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
24,Ariana Grande,0,2013-01-15 22:20:09,0,0,0,1,0.0,Emotions - Ariana Grande (Mariah Carey cover),45,...,6.0,NaN,6pm-12am,0 days 00:02:31,0,0,0,1,0,0
25,Ariana Grande,0,2013-01-21 13:16:02,0,1,0,0,0.0,How to Whistle Tone!!!! With Frankie & Ariana ...,52,...,7.0,NaN,12pm-6pm,5 days 14:55:53,0,0,0,1,0,0
26,Ariana Grande,0,2013-03-28 03:00:44,1,0,0,0,0.0,Ariana Grande - The Way ft. Mac Miller,38,...,0.0,NaN,12am-6am,65 days 13:44:42,0,0,0,1,0,0
27,Ariana Grande,0,2013-03-28 03:00:55,1,0,0,0,0.0,Ariana Grande - The Way ft. Mac Miller,38,...,1.0,NaN,12am-6am,0 days 00:00:11,0,0,0,1,0,0
28,Ariana Grande,0,2013-03-28 03:04:21,1,0,0,0,0.0,Ariana Grande - The Way ft. Mac Miller,38,...,2.0,NaN,12am-6am,0 days 00:03:26,0,0,0,1,0,0
29,Ariana Grande,0,2013-03-28 03:05:02,1,0,0,0,0.0,Ariana Grande - The Way ft. Mac Miller,38,...,3.0,NaN,12am-6am,0 days 00:00:41,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20411,zayn,30102191,12/11/2018 20:38,0,0,0,1,NaN,ZAYN - Let Me (Official Video),30,...,7.0,4.214983,6pm-12am,683 days 19:08:00,0,0,0,1,0,0
20412,zayn,30102191,12/11/2018 20:38,0,0,0,1,NaN,ZAYN - There You Are (Lyric Video),34,...,7.0,0.309370,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20413,zayn,30102191,12/11/2018 20:38,0,0,0,1,NaN,ZAYN - Rainberry (Lyric Video),30,...,7.0,0.145257,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20414,zayn,30102191,12/11/2018 20:39,0,0,0,1,NaN,ZAYN - Entertainer (Official Video),35,...,7.0,1.853203,6pm-12am,0 days 00:01:00,0,0,0,1,0,0
20415,zayn,30102191,12/11/2018 20:39,0,0,0,1,NaN,ZAYN - No Candle No Light (Lyric Video) feat. ...,57,...,7.0,0.238853,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20416,zayn,30102191,12/11/2018 20:39,0,0,0,1,NaN,ZAYN - Fingers (Lyric Video),28,...,7.0,0.068046,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20417,zayn,30102191,12/11/2018 20:45,0,0,0,1,NaN,ZAYN - Too Much ft. Timbaland,29,...,7.0,0.407903,6pm-12am,0 days 00:06:00,0,0,0,1,0,0
20418,zayn,30102191,12/12/2018 20:22,0,0,0,1,NaN,ZAYN - Sour Diesel (Audio),26,...,9.0,0.143666,6pm-12am,0 days 23:37:00,0,0,0,1,0,0
20419,zayn,30102191,12/12/2018 20:22,0,0,0,1,NaN,ZAYN - Good Years (Audio),25,...,9.0,0.298490,6pm-12am,0 days 00:00:00,0,0,0,1,0,0
20420,zayn,30116958,12/14/2018 1:17,1,0,0,0,NaN,ZAYN - Back To Life (Audio),27,...,14.0,0.084836,12am-6am,1 days 04:55:00,0,0,0,1,0,0
20421,zayn,30116958,12/14/2018 1:17,1,0,0,0,NaN,ZAYN - Common (Audio),21,...,14.0,0.110536,12am-6am,0 days 00:00:00,0,0,0,1,0,0
20422,zayn,30116958,12/14/2018 1:17,1,0,0,0,NaN,ZAYN - Good Guy (Audio),23,...,14.0,0.032480,12am-6am,0 days 00:00:00,0,0,0,1,0,0
20423,zayn,30116958,12/14/2018 1:17,1,0,0,0,NaN,ZAYN - You Wish You Knew (Audio),32,...,14.0,0.048980,12am-6am,0 days 00:00:00,0,0,0,1,0,0
20424,zayn,30116958,12/14/2018 1:17,1,0,0,0,NaN,ZAYN - Satisfaction (Audio),27,...,14.0,0.042559,12am-6am,0 days 00:00:00,0,0,0,1,0,0
20425,zayn,30126275,12/21/2018 12:04,0,1,0,0,NaN,ZAYN - If I Got You (Audio),27,...,8.0,0.023188,12pm-6pm,7 days 10:47:00,0,0,0,1,0,0
20426,zayn,30126275,12/21/2018 12:04,0,1,0,0,NaN,ZAYN - Insomnia (Audio),23,...,8.0,0.026966,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20427,zayn,30126275,12/21/2018 12:05,0,1,0,0,NaN,ZAYN - Flight Of The Stars (Audio),34,...,8.0,0.022413,12pm-6pm,0 days 00:01:00,0,0,0,1,0,0
20428,zayn,30126275,12/21/2018 12:05,0,1,0,0,NaN,ZAYN - Talk To Me (Audio),25,...,8.0,0.021634,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20429,zayn,30126275,12/21/2018 12:05,0,1,0,0,NaN,ZAYN - All That (Audio),23,...,8.0,0.011140,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20430,zayn,30126275,12/21/2018 12:05,0,1,0,0,NaN,ZAYN - Fresh Air (Audio),24,...,8.0,0.019274,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20431,zayn,30126275,12/21/2018 12:07,0,1,0,0,NaN,ZAYN - I Don't Mind (Audio),27,...,8.0,0.011597,12pm-6pm,0 days 00:02:00,0,0,0,1,0,0
20432,zayn,30126275,12/21/2018 12:08,0,1,0,0,NaN,ZAYN - Icarus Interlude (Audio),31,...,8.0,0.009246,12pm-6pm,0 days 00:01:00,0,0,0,1,0,0
20433,zayn,30285323,1/13/2019 16:43,0,1,0,0,NaN,ZAYN - Natural (Audio),22,...,6.0,0.047117,12pm-6pm,NaN,0,0,0,1,0,0
20434,zayn,30285323,1/13/2019 16:43,0,1,0,0,NaN,ZAYN - Imprint (Audio),22,...,6.0,0.040588,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20435,zayn,30285323,1/13/2019 16:44,0,1,0,0,NaN,ZAYN - Stand Still (Audio),26,...,6.0,0.027182,12pm-6pm,0 days 00:01:00,0,0,0,1,0,0
20436,zayn,30285323,1/13/2019 16:45,0,1,0,0,NaN,ZAYN - Tonight (Audio),22,...,6.0,0.107570,12pm-6pm,0 days 00:01:00,0,0,0,1,0,0
20437,zayn,30285323,1/13/2019 16:47,0,1,0,0,NaN,ZAYN - Satisfaction (Official Video),36,...,6.0,0.257521,12pm-6pm,0 days 00:02:00,0,0,0,1,0,0
20438,zayn,30285323,1/13/2019 16:47,0,1,0,0,NaN,ZAYN - Scripted (Audio),23,...,6.0,0.031076,12pm-6pm,0 days 00:00:00,0,0,0,1,0,0
20439,zayn,30484030,4/15/2019 12:27,0,1,0,0,NaN,ZAYN - Stand Still (Official Video),35,...,1.0,0.138326,12pm-6pm,1113 days 06:19:00,0,0,0,1,0,0
20440,zayn,30473768,5/9/2019 14:01,0,1,0,0,NaN,"ZAYN, Zhavia Ward - A Whole New World (End Tit...",66,...,1.0,2.930787,12pm-6pm,1079 days 14:30:00,0,0,0,1,0,0

In [84]:
combined_artist_data.artist_name.unique()

array(['Ariana Grande', 'Drake', 'Ed Sheeran', 'Eminem',
       'Imagine Dragons', 'J Balvin', 'J. Cole', 'Justin Bieber',
       'Kendrick Lamar', 'Khalid', 'Marshmello', 'Ozuna',
       'Panic! At The Disco', 'Portugal. The Man', 'Rihanna',
       'The Weeknd', 'Twenty One Pilots', '21 Savage', 'AC/DC Official',
       'ASAPROCKYUPTOWN', 'Adam Lambert', 'Adele', 'Aerosmith',
       'Alan Walker', 'Alicia Keys', 'Avril Lavigne', 'BRADPAISLEY',
       'Backstreet Boys', 'Becky G', 'Beyonc', 'Bring Me The Horizon',
       'Britney Spears', 'Bruce Springsteen', 'CNCO', 'Cage The Elephant',
       'Calvin Harris', 'Camila Cabello', 'Camilo', 'Carlos Vives',
       'CelineDion', 'Chayanne', 'Chris Young', 'ChrisBrownTV',
       'Christina Aguilera', 'Cyndi Lauper', 'DeJ Loaf', 'Depeche Mode',
       'Diego Torres', 'Diplo', 'Donald Glover', 'Enrique Iglesias',
       'Farruko', 'Ferg', 'Fifth Harmony', 'Fonseca', 'Foo Fighters',
       'FosterThePeople', 'Franco De Vita', 'Future', 'G-Eazy',
       'Gente De Zona', 'Gerardo Ortiz', 'Gloria Estefan', 'Harry Styles',
       'Hozier', 'Il Volo Official', 'Iron Maiden', 'Jazmine Sullivan',
       'Jennifer Hudson', 'Jennifer Lopez', 'John Legend', 'John Mayer',
       'Justin Timberlake', 'Kane Brown', 'Kany Garcia', 'Kelly Clarkson',
       'Kings of Leon', 'Kirk Franklin', 'KygoMusic', 'Little Mix',
       'Luke Combs', 'MOMOMOYOUTH', 'Maluma', 'Marc Anthony',
       'Mariah Carey', 'Martin Garrix', 'Meghan Trainor', 'Miguel',
       'Miley Cyrus', 'Miranda Lambert', 'Natalia Jimenez',
       'Natti Natasha', 'New Kids on the Block', 'NickyJamTV', 'Noriel',
       'Official Alice Cooper',
       'Oh Never Mind Its Just Me - Grace VanderWaal', 'OzzyOsbourne',
       'P!NK', 'PTXofficial', 'Pearl Jam', 'Pharrell Williams', 'Pitbull',
       'Prince Royce', 'Residente', 'Ricardo Montaner', 'Ricky Martin',
       'Robbie Williams', 'Roberto Carlos', 'Romeo Santos', 'Russ', 'SZA',
       'Scorpions', 'Shakira Mebarak', 'Sia', 'Silvestre Dangond',
       'StarBoy TV', 'Swedish House Mafia', 'System Of A Down', 'Thalia',
       'The Chainsmokers', 'The Neighbourhood', 'The Script',
       'Three Days Grace', 'Tim McGraw', 'Travis Scott',
       'Tyler, The Creator', 'Usher', 'WillieNelson', 'Wisin & Yandel',
       'Yo Gotti', 'Zara Larsson', 'frenchmontana', 'kesha',
       'luis coronel', 'maxwell', 'sarabareilles', 'solangeknowlesmusic',
       'westfesttv', 'zayn'], dtype=object)

In [85]:
combined_artist_data.to_csv('youtube_to_combine.csv')

In [ ]:
def get_count_of_followers_for_youtube(new_file):
    for i in range(1,len(new_file)):
        if (i+1)%200==0:
            print(str(i+1)+ ' has been completed!')
        facebook = 0
        fflag = False
        twitter = 0
        tflag = False
        ins = 0
        insflag = False
        if new_file['flag'][i]==1:
            for j in range(i-1,-1,-1):
                if new_file['artist_name'][i]!=new_file['artist_name'][j]:
                    break
                if fflag & tflag & insflag:
                    break
                if (not fflag) & (new_file['Facebook'][j]==1):
                    fflag=True
                    facebook = new_file["count_of_followers"][j]
                if (not tflag) & (new_file['Twitter'][j]==1):
                    tflag=True
                    twitter = new_file["count_of_followers"][j]
                if (not insflag) & (new_file['Instagram'][j]==1):
                    insflag=True
                    ins = new_file["count_of_followers"][j]
            cal = np.max([facebook,twitter,ins])
            if np.isnan(np.max([facebook,twitter,ins])):
                cal = 0

            print('Calculated: '+str(cal))
            new_file['count_of_followers'][i]=cal
        return new_file